a {
  display: block;
  font-size: 1.5em;
  text-align: center;
}

.ronnie-img {
  height: 55vh;
  width: 55vw;
  object-fit: contain;
  text-align: center;
}

.resume-img {
  height: 75vh;
  width: 75vw;
  object-fit: contain;
  text-align: center;
}

.pcr-img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.columns {
  display: flex;
  flex-direction: row;
}


body {
  background-color: #f9f4d9;
}

h1 {
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background-color: #6ECAB1;
}

h1, p {
  color: #0E1F28;
}

p {
  border-radius: 10px;
  border: 2px solid #2A8881;
  padding: 10px;
}

.left, .right {
  margin-top: 15px;
  margin-bottom: 15px;
}

.left {
  margin-left: 30px;
  margin-right: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 30px;
  margin-left: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-me {
  margin-left: 10vw;
  margin-right: 10vw;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 5vh;
}

